spring:
  application:
    name: wongoo3

  profiles:
    active: local

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=500,expireAfterWrite=600s

  jackson:
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          time_zone: Asia/Seoul

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 20MB

  security:
    oauth2:
      client:
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
    operations-sorter: method
    tags-sorter: alpha

jwt:
  secret: ${JWT_SECRET:wongoo3-secret-key-heo-yoo-jeong-hong-won-ki-since-2023-02-04}
  access-expiration-ms: 1800000
  refresh-expiration-ms: 1209600000
